<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Register</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="registerForm" class="is-valid" novalidate>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
    </div>

  </form>
</div>
<div class="modal-footer">
  <div class="form-group">
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Register</button>
  </div>
</div>
